
  

body{
    margin: 0 auto;
    width: 800px;
    height: auto;
    text-align: left;
}

h3{
    font-size: 40px;
}
input{
    display: block;
    margin: 0 auto;
    height: 30px;
    width: 300px;
}
input[type="text"]{
    outline: none;
}
input[type="text"]:focus{
    border: 2px solid rgb(0, 0, 0);
}
.form-label{
    color:black;
}

.invalid{
    color: red;
}
.invalid > .inputcolor{
    color: red;
    border: 2px solid rgb(255, 7, 7);
}

button{
    height: 35px;
    width: 300px;
    background-color: rgb(165, 230, 241);
    margin-bottom: 50px;
    border: none;
    border-radius: 10px;
}
@media only screen and (min-width: 800px) and (max-width: 1200px) {
    .main {
        width: 100%;
    }
  }
@media only screen and (min-width: 200px) and (max-width: 600px) {
    .main {
        width: 100%;
  }
}
.main{
 width: 500px;
 height:auto;
 background-color: aliceblue;
 text-align: center;
}

.form-group{
    margin-bottom: 30px;
}
.form-label{
    display: block;
}