:root {
  --main-bg-color: #fff;
  --second-bg-color: #f5f5f5;
  --third-bg-color: #dddddd;
  --grey: #4b4b4b;
  --black: #000;
  --red: rgb(241, 50, 50);
  --top-header-size: 30px;
  --mid-header-size: 80px;
  --bottom-header-size: 45px;
  --btn-bg-black: rgb(0, 0, 0);
  --btn-bg-white: rgb(255, 255, 255);
  --btn-border-color: #000;
  --btn-color: rgb(255, 255, 255);
  --hover-color: rgb(245, 122, 122);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  position: relative;
  background-color: var(--main-bg-color);
}

button,
i {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: unset;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

h2,
h1 {
  text-transform: uppercase;
}

.container {
  max-width: 1366px;
  margin: auto;
  padding: 0 20px;
  position: relative;
}

.bg-second {
  background-color: var(--second-bg-color);
}

.bg-main {
  background-color: var(--main-bg-color);
}

.text-red {
  color: var(--red);
}

.mobile-menu {
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  display: none;
}

.top-header {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-header ul {
  display: flex;
}

.top-header a {
  font-size: 13px;
}

ul.devided > li {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid;
}

ul.devided > li:last-child {
  border-right: none;
}

/* dropdown */
.dropdown {
  position: relative;
}

.dropdown:hover .dropdown-content {
  display: flex;
  top: 100%;
  opacity: 1;
  visibility: visible;
}

.dropdown-content {
  /* display: flex; */
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: calc(100% + 10px);
  background-color: #fff;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0;
  transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 2;
}

.dropdown img {
  position: relative;
  width: 18px;
  height: 9px;
}

.dropdown-content li {
  position: relative;
  display: flex;
  align-items: center;
  text-align: left;
  width: 130px;
  padding: 5px;
}
.dropdown-content > li > a {
  display: block;
  padding: 6px 14px;
  text-align: left;
}

.dropdown-content > li:hover {
  color: var(--hover-color);
}
/* end dropdown */

.mid-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: var(--main-bg-color);
}

.logo {
  font-size: 40px;
  font-weight: 700;
}

.mb-logo {
  font-size: 25px;
  font-weight: 700;
}

.search {
  width: 600px;
  height: 40px;
  position: relative;
}

.search input {
  height: 100%;
  width: 100%;
  font-size: 16px;
  outline: 0;
  padding: 0 20px;
  border-radius: 10px;
  border: 0;
  background-color: var(--second-bg-color);
}

.search i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  cursor: pointer;
  font-size: 20px;
}

.user-menu {
  display: flex;
}

.user-menu > li > a {
  font-size: 20px;
  margin-right: 22px;
}
.user-menu > li > a:hover {
  color: var(--hover-color);
}

.bottom-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-menu {
  display: flex;
  height: var(--bottom-header-size);
}

.main-menu > li > a {
  display: flex;
  align-items: center;
  margin: 0 20px;
  font-weight: 600;
  height: 100%;
  text-transform: uppercase;
}

.main-menu > li {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

.main-menu > li:hover {
  border-bottom: 2px solid var(--hover-color);
}
.main-menu a:hover {
  color: var(--hover-color);
}

/* mega menu */

.mega-content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  background-color: var(--main-bg-color);
  width: 100%;
  top: calc(100% + 100px);
  z-index: 2;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0;
  transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.mega-dropdown:hover .mega-content {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.mega-content h3 {
  margin: 20px 0;
  padding-left: 20px;
}

.mega-content ul {
  display: flex;
  flex-direction: column;
}

.mega-content ul > li > a {
  font-weight: normal;
  padding: 10px 0;
  border-bottom: 2px dashed #f5f5f5;
  transition: padding-left 0.2s ease-in-out;
  margin: 0 20px;
  text-transform: capitalize;
}

.mega-content ul > li > a:hover {
  padding-left: 10px;
}

.mega-content ul > li {
  border-bottom: 2px solid transparent;
}

.mega-content ul > li:hover {
  border-bottom: 2px solid var(--hover-color);
}

/* end mega menu */

.box {
  padding: 20px;
}

.hero {
  height: calc(
    100vh -
      (
        var(--top-header-size) + var(--mid-header-size) +
          var(--bottom-header-size)
      )
  );
  padding: 0 20px;
}

.slider,
.slider .container {
  height: 100%;
  position: relative;
}

.slide {
  height: 0;
  position: absolute;
  display: flex;
  inset: 0;
  overflow: hidden;
  visibility: hidden;
}

.slide.active {
  visibility: visible;
  height: 100%;
}

.slide .info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.info-content h2 {
  font-size: 70px;
  margin: 10px 0 35px;
}

.info-content button {
  margin-top: 30px;
}

.slide .img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-flat {
  display: inline-block;
  border: 2px solid var(--btn-border-color);
  background-color: var(--btn-bg-black);
  color: var(--btn-color);
  padding: 15px 35px;
  font-size: 15px;
  outline: 0;
  font-weight: 600;
  text-transform: uppercase;
}

.btn-hover {
  transition: all 0.3s ease-in-out;
}

.btn-hover:hover {
  background-color: var(--btn-color);
  color: var(--btn-bg-black);
}

.slide-controll {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  outline: 0;
  border: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding: 12px;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}
.slide-controll i {
  font-size: 18px;
}

.slide-controll:hover {
  background-color: var(--btn-bg-black);
  color: var(--btn-color);
}

.slide-next {
  right: -80px;
}

.slide-prev {
  left: -80px;
}

.slider:hover .slide-next {
  right: 50px;
}

.slider:hover .slide-prev {
  left: 50px;
}
/* SUPPORT */
.container-support {
  text-align: center;
}
.container-support-top img{
  width: auto;
  height: 200px;
}
.container-support-bottom {
  display: flex;
}
.support-content {
  display: flex;
  padding: 0px 30px;
}
.support-content:nth-child(1), .support-content:nth-child(3){
  border-right: 1px solid var(--red);
}
.support-content:nth-child(2) {
  border-right: 2px solid var(--red);
}
.support-content div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 16px;
  font-size: 38px;
}
.support-content div:nth-child(2) {
  text-align: left;
  padding: 30px 0;
}

/* slide animation */
.top-down {
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.slide.active .top-down {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.right-left {
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.slide.active .right-left {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.left-right {
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.slide.active .left-right {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
/* end slide animation */

/* delay time active */
.trans-delay-0-2 {
  transition-delay: 0.3s;
}
.trans-delay-0-4 {
  transition-delay: 0.5s;
}

.trans-delay-0-6 {
  transition-delay: 0.7s;
}

.trans-delay-0-8 {
  transition-delay: 0.9s;
}

.promotion {
  padding: 15px;
}

.promotion [class*="col-"] {
  padding: 15px;
}

.promotion-box {
  display: flex;
  background-color: var(--third-bg-color);
  position: relative;
}

.promotion-box .text {
  flex-grow: 1;
  padding: 20px;
}

.promotion-box .text h3 {
  font-size: 25px;
}

.promotion-box .text button {
  margin-top: 30px;
}

.promotion-box img {
  width: 240px;
  transition: transform 0.3s ease-in-out;
}

.promotion-box:hover img {
  transform: scale(1.2);
}

.section {
  padding: 60px 0;
}
.sp-item-img img:hover {
  transition: transform 0.3s ease-in-out;
}
.section-header,
.section-footer {
  text-align: center;
  margin: 80px 0 70px;
  text-transform: uppercase;
}

.section-header h2 {
  font-size: 40px;
}

/* <!-- Product list to slide --> */
.section_container {
  width: 100%;
  height: 600px;
  display: flex;
  margin-left: 176px;
}
.section_container-left {
  text-align: left;
  padding: 0 60px 0 50px;
  background-color: rgb(192, 192, 192, 0.3);
}
.container-left-content {
}
.section_container-left h1 {
  font-size: 40px;
  padding: 120px 0 0 0;
}
.section_container-left p {
  padding: 40px 0px;
}
.section_container-left a {
  text-align: center;
  width: 200px;
}
.section_container-right {
  margin: auto 0;
  overflow: hidden;
  padding: 0;
}

.product-card {
  background-color: var(--main-bg-color);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.product-card:hover {
  background-color: var(--second-bg-color);
}

/* SLIDE */
.splide{
  
}
.splide__slide{
  padding: 0;
}
.splide__slide:hover{
  cursor: pointer;
}
.splide__arrows{
  display:none;
}
.project-area {
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 8px rgb(55 55 55 / 15%);
  overflow: hidden;
}

.splide__pagination li{
  padding: 0 10px;
}
.splide__pagination__page{
  width:30px;
  height:4px;
}
.splide__pagination__page:hover{
  background-color: black;
}
.project-area .project_container ul {
  list-style: none;
  width: 100%;
  display: flex;
}
.project-area .project_container ul li {
  width: 20%;
  height: 500px;
  text-align: center;
  border-right: 1px solid #ececec;
}
.product-card-info-span {
  position: absolute;
  background: rgb(0, 0, 0);
  transition: 0.6s;
}
.span-x {
  position: absolute;
  height: 100%;
}
.span-y {
  position: absolute;
  width: 100%;
}
.span-y-top {
  height: 1px;
  width: 100%;
  left: 0px;
  top: -300px;
  transform: translateX(650px);
}
.span-y-bottom {
  height: 1px;
  width: 100%;
  left: 0px;
  bottom: 0px;
  transform: translateX(-650px);
}

.x-left {
  width: 1px;
  height: 500px;
  left: 0px;
  top: -300px;
  transform: translateY(-650px);
}
.x-right {
  width: 1px;
  height: 500px;
  right: 0px;
  bottom: 0px;
  transform: translateY(650px);
}
.product-card:hover .x-left {
  transform: translateY(0px);
}
.product-card:hover .x-right {
  transform: translateY(0px);
}
.product-card:hover .span-y-top {
  transform: translateX(0px);
}
.product-card:hover .span-y-bottom {
  transform: translateX(0px);
}

.product-card-img {
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card-img img {
  max-height: 100%;
  transition: all 0.3s ease-in-out;
}

.product-card-img img:nth-child(2) {
  display: none;
}

.product-card:hover .product-card-img img:nth-child(1) {
  display: none;
}

.product-card:hover .product-card-img img:nth-child(2) {
  display: block;
}

.product-card-info {
  padding: 20px;
  text-align: center;
  position: relative;
}

.product-card-name {
  font-size: 20px;
  margin-bottom: 10px;
}

.product-card-price {
  font-size: 15px;
}

.product-card-price .curr-price {
  margin-left: 5px;
  font-size: 20px;
  font-weight: 600;
  color: var(--red);
}

.product-btn {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 0.3s ease-in-out;
}

.product-card:hover .product-btn {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.product-btn > * ~ * {
  margin-left: 5px;
}

.btn-shop-now,
.btn-cart-add {
  font-size: 15px;
  padding: 5px 10px;
  line-height: 17px;
}

.sp-item-name {
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 30px;
}

.sp-item-description {
  margin-bottom: 60px;
  text-align: justify;
}

.blog {
  display: flex;
  margin-bottom: 60px;
}

.blog-img,
.blog-info {
  width: 50%;
}

.blog-img {
  padding-bottom: 26px;
  border-bottom: 1px solid var(--grey);
}

.blog-img img,
iframe {
  height: 376px;
  width: 100%;
}

.blog-info {
  padding: 50px;
}

.blog-title {
  font-size: 30px;
  margin-bottom: 30px;
}

.blog-preview {
  text-align: justify;
  margin-bottom: 50px;
}

footer {
  padding: 100px 0;
}

.footer-head {
  margin-bottom: 20px;
  text-transform: uppercase;
}

footer ul li {
  margin-bottom: 10px;
}

.contact-header {
  text-align: center;
  font-weight: 600;
  margin-bottom: 30px;
  font-size: 38px;
}

.contact-socials,
.contact-socials-img {
  display: flex;
  justify-content: center;
}

.contact-socials a {
  display: none;
  font-size: 24px;
  margin: 0 10px;
}
.contact-socials-img img {
  padding: 4px;
}

.contact-socials .fa-facebook:hover {
  color: #3b5998;
}
.contact-socials .fa-instagram:hover {
  color: #e4405f;
}
.contact-socials .fa-youtube:hover {
  color: #f32b11;
}
.contact-socials .fa-twitter:hover {
  color: #00aced;
}
.contact-socials .fa-envelope:hover {
  color: #e25f2b;
}

.footer-content > .menu,
.footer-content > h3 {
  padding-left: 100px;
}

.menu li a {
  text-transform: capitalize;
  transition: transform 0.3s ease-in-out;
}

.menu li a:hover {
  color: var(--hover-color);
  transform: translateX(10px);
}

.subscribe {
  position: relative;
  margin-top: 20px;
}

.subscribe input {
  width: 80%;
  height: 40px;
  outline: 0;
  border: 0;
  padding: 0 24px;
}

.subscribe input:hover {
}

.subscribe button {
  font-size: 12px;
  width: 30%;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  outline: 0;
  border: 0;
  background-color: var(--red);
  color: var(--btn-color);
  padding: 12px;
  text-transform: uppercase;
}

.subscribe button:hover {
  background-color: var(--black);
}

.mb-menu-toggle {
  font-size: 25px;
}

.breadcumb {
  font-weight: 600;
  padding-left: 20px;
}

.breadcumb a {
  text-transform: capitalize;
}

.breadcumb a:hover {
  color: var(--hover-color);
}

.breadcumb span {
  margin: 0 15px;
}

.filter-header {
  display: block;
  margin: 20px 0;
  font-weight: 600;
  text-transform: capitalize;
}

.filter-list > li {
  margin-bottom: 20px;
}

.filter-toggle-box {
  display: none;
}

.price-range {
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-range span {
  flex-grow: 1;
  text-align: center;
  margin: 0 10px;
}

.price-range input {
  width: 40%;
  outline: none;
  padding: 5px;
}

.group-checkbox {
  text-align: left;
}

.group-checkbox input {
  opacity: 0;
  height: 0;
  width: 0;
  cursor: pointer;
}

.group-checkbox label {
  cursor: pointer;
  padding-left: 40px;
  position: relative;
}

.group-checkbox label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -4px;
  width: 22px;
  height: 22px;
  background-color: var(--main-bg-color);
  border: 2px solid #7b7979;
}

.group-checkbox label > i {
  position: absolute;
  left: 4px;
  top: 0px;
  color: var(--black);
  transform: scale(0);
  font-size: 16px;
  transition: transform 0.1s ease-in-out;
}

.group-checkbox input:checked + label i {
  transform: scale(1);
}

.rating i {
  color: #ffc107;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.pagination > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  margin-left: 5px;
  font-size: 20px;
}

.pagination > li > a.active {
  background-color: var(--black);
  color: var(--main-bg-color);
}

.pagination > li > a:hover {
  border: 2px solid var(--black);
}

.product-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-img > img {
  max-width: 70%;
}

.product-img-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-img-item {
  width: 90px;
  cursor: pointer;
  margin: 0 10px;
  border: 1px solid var(--third-bg-color);
}

.product-img-item:hover {
  background-color: var(--second-bg-color);
}

.product-row {
  padding: 45px 0;
}

.product-info > * ~ * {
  margin-top: 25px;
}

.product-info-detail-title {
  font-weight: 600;
  color: gray;
}

.product-description {
  font-size: 18px;
  text-align: justify;
}

.product-info-price {
  font-weight: 600;
  font-size: 30px;
  color: var(--red);
}

.product-quantity-wrapper {
  display: flex;
  align-items: center;
}

.product-quantity {
  margin: 0 10px;
  font-size: 25px;
}

.product-quantity-btn {
  height: 30px;
  width: 30px;
  background-color: gray;
  display: grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.product-quantity-btn i {
  font-size: 20px;
  color: var(--main-bg-color);
}

.box-header {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.product-detail-description {
  position: relative;
  margin-bottom: 90px;
}

.product-detail-description-content {
  text-align: justify;
  line-height: 26px;
  font-size: 16px;
  height: 600px;
  overflow-y: hidden;
  position: relative;
  text-align: center;
}

.product-detail-description-content.active {
  height: max-content;
}

.product-detail-description-content img {
  width: 1000px;
  height: auto;
}

.btn-view-description {
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
}

.user-rate {
  margin-bottom: 40px;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.user-avt {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.user-name {
  margin-left: 20px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.user-rate-content {
  line-height: 25px;
}
.header-close {
  display: none;
}

.foot-boss {
  margin-bottom: 180px;
}
.foot-boss ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  margin: 0;
  padding: 0;
}

.foot-boss ul li {
  list-style: none;
  margin: 0 5px;
}

.foot-boss ul li a .fab {
  font-size: 40px;
  color: #262626;
  line-height: 80px;
  transition: 0.5s;
  padding-right: 14px;
}

.foot-boss ul li a span {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 30px;
  color: #262626;
  letter-spacing: 4px;
  transition: 0.5s;
}

.foot-boss ul li a {
  text-decoration: none;
  display: absolute;
  display: block;
  width: 210px;
  height: 80px;
  background: #fff;
  text-align: left;
  padding-left: 20px;
  transform: rotate(-30deg) skew(25deg) translate(0, 0);
  transition: 0.5s;
  box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
}
.foot-boss ul li a:before {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #b1b1b1;
  transform: 0.5s;
  transform: rotate(0deg) skewY(-45deg);
}
.foot-boss ul li a:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #b1b1b1;
  transform: 0.5s;
  transform: rotate(0deg) skewX(-45deg);
}

.foot-boss ul li a:hover {
  transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
}

.foot-boss ul li:hover .fab {
  color: #fff;
}

.foot-boss ul li:hover span {
  color: #fff;
}

.foot-boss ul li:hover:nth-child(1) a {
  background: #3b5998;
}
.foot-boss ul li:hover:nth-child(1) a:before {
  background: #365492;
}
.foot-boss ul li:hover:nth-child(1) a:after {
  background: #4a69ad;
}

.foot-boss ul li:hover:nth-child(2) a {
  background: #00aced;
}
.foot-boss ul li:hover:nth-child(2) a:before {
  background: #097aa5;
}
.foot-boss ul li:hover:nth-child(2) a:after {
  background: #53b9e0;
}

.foot-boss ul li:hover:nth-child(3) a {
  background: #dd4b39;
}
.foot-boss ul li:hover:nth-child(3) a:before {
  background: #b33a2b;
}
.foot-boss ul li:hover:nth-child(3) a:after {
  background: #e66a5a;
}

.foot-boss ul li:hover:nth-child(4) a {
  background: #e4405f;
}
.foot-boss ul li:hover:nth-child(4) a:before {
  background: #d81c3f;
}
.foot-boss ul li:hover:nth-child(4) a:after {
  background: #e46880;
}

/* responsive */

@media only screen and (max-width: 1280px) {
  .mobile-menu {
    display: flex;
  }
  .header-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow-x: auto;
    position: fixed;
    top: 0;
    right: 100%;
    background-color: var(--main-bg-color);
    z-index: 99;
    transition: right 0.3s ease-in-out;
  }
  .footer-mobile div,
  .footer-mobile-contact {
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
  }
  .header-wrapper.active {
    right: 0;
  }
  .footer-content > .menu,
  .footer-content > h3 {
    padding-left: 0px;
  }
  .logo {
    font-size: 30px;
  }
  .subscribe {
    padding-right: 150px;
  }
  .fa-bars:hover {
    color: var(--hover-color);
  }

  .header-close {
    display: block;
    text-align: right;
    padding: 18px 20px 0 0;
  }
  .header-close:hover {
    color: var(--hover-color);
  }

  .top-header {
    display: none;
  }

  .mid-header {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    height: unset;
  }

  .mid-header > * {
    margin-top: 15px;
  }

  .search {
    width: 100%;
  }

  .bottom-header {
    justify-content: flex-start;
  }

  .main-menu {
    flex-direction: column;
    height: unset;
  }

  .main-menu a {
    padding: 10px 0;
  }

  .mega-dropdown > a > i {
    display: none;
  }

  .mega-content {
    position: relative;
    opacity: 1;
    visibility: visible;
    box-shadow: unset;
    background-color: transparent;
    padding-left: 45px;
  }

  .mega-content h3 {
    font-size: 15px;
    padding: 5px 0;
    margin: unset;
  }

  .mega-content ul > li > a {
    padding: 5px 0;
  }

  .mega-content .img-row {
    display: none;
  }

  .hero {
    height: calc(
      80vh -
        (
          var(--top-header-size) + var(--mid-header-size) +
            var(--bottom-header-size)
        )
    );
    margin-bottom: 60px;
  }

  .slide {
    flex-direction: column-reverse;
  }

  .slide > .info,
  .slide > .img {
    width: 100%;
  }

  .slide > .img > img {
    max-width: 350px;
  }

  .info-content {
    text-align: center;
  }

  .info-content p {
    display: none;
  }

  .info-content-h2 {
    display: none;
  }

  .info-content h3 {
    font-size: 16px;
  }
  .info-content-delay {
    transition-delay: 0.4s;
  }
  .info-content button {
    height: 24px;
    padding: 4px 14px;
    font-size: 10px;
    margin-top: unset;
  }

  .slide-next,
  .slider:hover .slide-next {
    right: 40%;
  }

  .slide-prev,
  .slider:hover .slide-prev {
    left: 40%;
  }

  .slide-next,
  .slide-prev {
    bottom: -70px;
    transform: unset;
    top: unset;
  }

  .product-btn {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    position: relative;
    margin-bottom: 20px;
  }
.container-support-bottom{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  border: 0;
}
.support-content:nth-child(2){
  border-right:0;
}

  .sp-item-info {
    padding-right: 35px;
  }

  .blog {
    flex-wrap: wrap;
  }

  .blog-img,
  .blog-info {
    width: 100%;
  }

  .blog-img img {
    height: auto;
    width: 100%;
  }

  .filter-toggle-box {
    display: block;
  }

  .filter-col {
    position: fixed;
    width: 100%;
    background-color: var(--main-bg-color);
    z-index: 98;
    left: 100%;
    height: 80vh;
    overflow-y: scroll;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: left 0.2s ease-in-out;
  }

  .filter-col.active {
    left: 0;
  }

  .pagination {
    justify-content: center;
  }
  .contact-socials a {
    display: block;
    font-size: 24px;
    margin: 0 10px;
  }
  .foot-boss,
  .section_container {
    display: none;
  }
}

/* signIn/signUp */

.modul_overlay {
  position: relative;
  visibility: hidden;
  opacity: 0;
  transition: opacity linear 0.6s;
  z-index: 9;
}
.modul_overlay:target {
  visibility: visible;
  opacity: 1;
}

.modul_overlay-close {
  position: absolute;
  width: 100%;
  height: 100%;
}

.auth_form {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(179, 179, 179, 0.6);
}

.auth_form-button {
  border-radius: 20px;
  border: 1px solid #fd5f43;
  background-color: #fd5f43;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.auth_form-button :active {
  transform: scale(0.95);
}

.auth_form-button:focus {
  outline: none;
}

.auth_form-button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.auth_form-form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.auth_form-form span {
  padding: 0 0 16px 0;
}

.auth_form-form a {
  padding: 16px 0px;
}
.auth_form button {
  opacity: 0.8;
}
.auth_form button:hover {
  opacity: 1;
}

.overlay p {
  padding: 26px 0;
}

.auth_form-input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

/* CSS ITEMSICON  */
.bx {
  font-size: 22px;
}
/* .fas:hover {
  color: var(--hover-color)
} */
.fa-angle-down {
  padding: 2px 0 0 2px;
}
.bxs-chevron-down {
  font-size: 18px;
}
.signup-close {
  position: relative;
  top: -250px;
  left: 790px;
  font-size: 24px;
}
.signup-close:hover {
  color: var(--red);
}

.fa-home {
  font-size: 22px;
  padding: 0 2px 6px 0;
}
.auth_form-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.auth_form-container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.auth_form-container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.auth_form-container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.auth_form-container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.auth_form-container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.auth_form-container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}
.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  font-size: 18px;
}

.social-container a:hover {
  color: var(--hover-color);
}
@media only screen and (max-width: 750px) {
  .support-content:nth-child(1),.support-content:nth-child(3){
    border-right:0;
  }
}