/* https://github.com/lion-nct/thanh.git */
/* Nội dung Thanh Tiêu Đề */

a:link {
  text-decoration: none;
  transition: opacity 0.2s;
}
a:visited {
  color: rgb(245, 239, 239);
  text-decoration: none;
}
a:hover {
  color: rgb(229, 115, 115);
  text-decoration: none;
}

boby {
}
* {
  font-size: 1.6rem;
}
/* @media screen and (min-width: 320px) and (max-width: 2000px) { */

.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 60px;
  line-height: 60px;
  background-color: rgb(0, 0, 0);
}
.header__navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.header__navbar-list {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.header__navbar-item {
  box-sizing: border-box;
  text-transform: uppercase;
  float: left;
}

.header__navbar-item-link {
  font-size: 1.5rem;
  padding: 0 12px;
  display: block;
}
.header__navbar-item-fas {
  font-size: 0.8rem;
}
.header__navbar-item-link:link {
  color: rgba(255, 255, 255, 0.7);
}
.header__navbar-item-link:hover {
  color: rgba(255, 255, 255, 1);
  background-color: var(--bgr-color);
}

.header__navbar-item-link-bgrtrangchu {
  background-color: var(--bgr-color);
}

.header__navbar-item-link-color {
  color: white;
}
.header__navbar-item-link-color:link {
  color: rgb(255, 255, 255);
}
.header__navbar-item1 {
  position: absolute;
  overflow: hidden;
  background-color: rgba(255, 255, 255);
  height: 300px;
  display: none;
  animation: fadeIn ease 0.4s;
}
/* .header__navbar-item1::before{
  content: "";
  position: absolute;
  display: block;
  top: -10px;
  width: 80px;
  height: 25px;
  background-color: rgb(126, 24, 24);
} */
.header__navbar-item1-1a {
  width: 480px;
  display: flex;
  justify-content: space-between;
}
.header__navbar-item:hover .header__navbar-item1 {
  display: block;
}

.header__navbar-item2 {
  position: absolute;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(65, 63, 63, 0.2);
  height: 0px;
  width: 100%;
  top: 60px;
  left: 0;
  bottom: 100%;
  display: none;
  animation: fadeIn ease 0.6s;
}
.header__navbar-item:hover .header__navbar-item2 {][
  '\?
]
  bottom: 0;
  height: 300px;

}
.header__navbar-item2-1b {
  position: relative;
  margin: 0;
  padding: 0;
  
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.header__navbar-item2-list {
  height: 300px;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.header__navbar-item2-item{
  line-height: 73px;
  
}
.header__navbar-item2-link{
  
}
.header__navbar-item2-link > span{
  display: block;
  color:rgb(0, 0, 0);
  border: 1px solid rgb(65, 63, 63, 0.1);

}
/* .header__navbar-item2-list::before{
  position: absolute;
  content: "";
  border: 1px solid rgba(206, 22, 22, 0.1);
  height: 300px;
  width:1px;
  left: 240px;
} */

.header__navbar-item2-link > span:hover{
 color: var(--bgr-color);
 border-right: 1px solid rgb(255, 255, 255);
}
/* .congthanh{
  margin:0px;
  color:rgb(0, 0, 0);
  border: 1px solid rgb(65, 63, 63, 0.1);
  
}
.header__navbar-item:hover .congthanh{
border-right: 1px solid rgb(255, 255, 255);
}
.congthanh:hover{
  color: var(--bgr-color);
  border-right: 1px solid rgb(65, 63, 63, 0.1);

} */
 /* .header__navbar-item2-link > span::before{
  content: "";
  position: absolute;
  border-right: 1px solid rgb(65, 63, 63, 0.1);
  width: 1px;
  height: 73px;
  top: 0;
  left: 238px;
}
.header__navbar-item2-link > span:after{
  content: "";
  position: absolute;
  border-right: 1px solid rgb(255, 255, 255);
  width: 1px;
  height: 73px;
  top: 0;
  left: 238px;
} */
.thanh {
  display: block;
  width: 240px;
}
.thanh1 {
  position: absolute;
  display: none;
  background-color: white;
  padding: 20px 10px 0 10px;
  width: 960px;
  height: px;
  top: 0;
  right: 0;
}
.thanh1__boss {
}
.thanh__boss-container {
  display: flex;
  justify-content: space-between;
}
.thanh__boss-item {
  margin: 10px;
}
.thanh__boss-link {
  width: 215px;
  height: 186px;
  display: block;
}
.thanh__boss-img {
  width: 100%;
  height: 100%;
}
.thanh__boss-text {
  text-align: center;
  margin: 0;
}

.header__navbar-item:hover .thanha {
  display: block;
}
.header__navbar-item2-chaua:hover .thanh1 {
  display: block;
}

.header__navbar-item2-chauau:hover .thanh1 {
  display: block;
}
.header__navbar-item2-chaumi:hover .thanh1 {
  display: block;
}
.header__navbar-item2-chauphi:hover .thanh1 {
  display: block;
}

.header__navbar-item:hover .header__navbar-item2 {
  display: block;
}
.header__navbar-item:hover .header__navbar-item1-1c {
  width: ;
}
.header__navbar-item:hover .header__navbar-item1-1d {
  width: 100%;
  height: 300px;
}
.header__navbar-item:hover .header__navbar-item1-1e {
  width: ;
}
.header__navbar-item:hover .header__navbar-item1-1f {
  width: ;
}
.header__navbar-item:hover .header__navbar-item1-1g {
  width: ;
}
.header__navbar-item1-list {
  border: 1px solid rgb(65, 63, 63, 0.1);
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.header__navbar-item1-itemchild {
  border-bottom: 1px solid rgb(65, 63, 63, 0.1);
  height: 50px;
  line-height: 50px;
  padding-left: 30px;
}
.header__navbar-item1-link {
  display: block;
}
.header__navbar-item1-link font {
  font-size: 1.4rem;
  color: black;
}
.header__navbar-item1-link:hover font {
  color: var(--bgr-color);
}

.logo {
  height: 300px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 2px solid rgb(211, 211, 211);
}

.lienhe {
  position: fixed;
  top: 100px;
  right: 0px;
  min-width: 90px;
}
.lienhe_1 {
  background-color: rgba(80, 73, 73, 0.8);
  padding: 10px;
  color: white;
  text-align: center;
}

.lienhe_1:hover {
  color: rgb(229, 115, 115);
}

.grid__phanthan {
  display: table;
  border-bottom: 2px solid rgb(211, 211, 211);
}

.grid__phanthan-list {
  list-style: none;
  margin: 15px 0;
  padding: 0;
}
.container {
}

.grid__phanthan-list-item {
  /* padding-right: 10px;
  padding-bottom:10px; */
  position: relative;
  display: block;
  padding: 5px;
  width: 24.9999%;
  float: left;
}

@media only screen and (min-width: 600px) and (max-width: 960px) {
  .grid__phanthan-list-item {
    width: 49.999%;
    padding: 0 5px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 760px) {
  .grid__phanthan-list-item {
    width: 100%;
  }
}

.grid__phanthan-list-item img {
  width: 100%;
  height: auto;
}

h4 {
  text-transform: uppercase;
  font-family: "Helvetica Neue";
  border-radius: 50px;
  margin: auto;
  padding: 15px;
  background-color: rgba(68, 59, 59, 0.6);
  position: absolute;
  text-align: center;
  min-width: 35%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Phần thân trang */

h2 {
}

.phanthantrangchinh {
  text-align: center;
  overflow: hidden;
}

@media only screen and (min-width: 600px) and (max-width: 960px) {
  .phanthantrai {
    width: 100%;
  }
}

.phanthantrai {
  box-sizing: border-box;
  overflow: visible;
  padding-right: 30px;
  width: 70%;
  float: left;
  border-bottom: 2px solid rgb(82, 78, 78, 0.4);
}

.phanthantrangchinh1 .clearfix {
  clear: both;
}

.thanh2 {
  border-bottom: 2px solid rgb(82, 78, 78, 0.4);
}

.btn {
  text-decoration: none;
  background-color: transparent;
  margin-bottom: 10px;
  border: none;
  border-radius: 50px;
  outline: none;
  color: white;
  padding: 10px 30px;
  cursor: pointer;
  transition: opacity 0.2s;
}
.btn:hover {
  opacity: 0.7;
}

.btn--xemthem {
  background-color: rgb(229, 115, 115);
}

.phanthanphai {
  border-bottom: 2px solid rgb(82, 78, 78, 0.4);
  width: 30%;
  float: left;
}

.baivietganday > ul {
  list-style: none;
  margin: 0 auto;
  padding: 0px;
  display: table;
}
.chung {
  width: 50%;
  padding: 10px;
  display: table-cell;
}
.chung > img {
}

.chung1 {
  padding: 5px;
  text-align: center;
}

.giulienlac {
  color: black;
  padding: 5px 10px 30px 10px;
}

.ab--1 {
  padding: 0 10px;
  font-size: 20px;
  color: black;
}
.ab--1:hover {
  color: rgb(229, 115, 115, 0.8);
}

.dangki > p {
  margin: 0 auto;
  padding: 5px;
}

.dangki-input{
  height: 35px;
  line-height: 10px;
  width: 95%;
  padding-left: 15px;
  border: none;
  border: 1px solid rgb(90, 77, 77, 0.5);
  font-family: Crimson Text;
}

input[type="submit"] {
  height: 35px;
  line-height: 10px;
  width: 95%;
  border: none;
  padding: 10px 0;
  outline: none;
  cursor: pointer;
  background-color: rgb(245, 245, 245, 0.8);
  font-family: Crimson Text;
}
input[type="submit"]:hover {
  background-color: rgb(229, 115, 115);
  color: white;
}

.phanthanphai-h3 {
  position: relative;
  background-color: black;
  color: white;
  padding: 10px 0;
}
.phanthanphai-h3::before {
  position: absolute;
  content: "";
  border: 16px solid;
  border-color: black transparent transparent transparent;
  top: 28px;
  right: 165px;
}

.thanh3 {
  box-sizing: border-box;
  overflow: visible;
  padding-right: 10px;
  width: 50%;
  float: left;
  border-bottom: 1px solid rgb(82, 78, 78, 0.4);
}
.thanh4 {
  box-sizing: border-box;
  padding-left: 10px;
  width: 50%;
  float: right;
  border-bottom: 1px solid rgb(82, 78, 78, 0.4);
}

.thanh5 {
  box-sizing: border-box;
  overflow: visible;
  width: 100%;
  float: left;
  clear: left;
}
.chuyentrang {
  margin: 20px auto;
}

.chuyentrang_1 {
  display: inline-block;
}
.chuyentrang_1 a {
  border: 0.2px solid rgb(83, 79, 79, 0.2);
  padding: 5px 15px;
  color: black;
}

.chuyentrang_1 a:hover {
  background-color: var(--bgr-color);
  color: white;
}
.chuyentrang_1_item {
  background-color: var(--color);
}

.footer {
  bottom: 0;
  background-color: rgb(43, 38, 38, 0.5);
}

.footer_first {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.footer_first ul {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer_first ul > li {
  width: 190px;
  height: 194px;
}
.footer_first_img {
  width: 100%;
  object-fit: contain;
}

.footer_first li > a {
}

.footer_second {
  text-align: center;
  margin: 0;
  padding-bottom: 50px;
  color: white;
}
.footer_second_item {
  margin: 30px 120px 50px 120px;
}
.footer_second_item ul {
  list-style-type: none;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 80 0 0 0;
  padding: 0;
}
.footer_second_item ul li {
  padding: 0 30px;
}

/* Modal */
.auth-form{
  font-family: 'Montserrat', sans-serif;
  background-color: aquamarine;
}
.auth-form__header{
  background-color: rgb(54, 197, 35);
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  margin: 15px 0;
}
.auth-form__container{
  background-color: #fff;
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  
}
.form-container{
  position: absolute;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.sign-up-container{
  z-index: 1;
  opacity: 1;
right: 0;
width: 50%;
}

.sign-in-container{
  z-index: 0;
  opacity: 0;
  width: 50%;
  left: 0;
  
}
.form-container__form{
  background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}
.form-container__h1{
  margin-top: 70px;
}
.social-container{
  margin-bottom: 15px;
}
.form-container__span{
  font-size: 1.3rem;
  margin-bottom: 8px;
}
.form-container__input{
  background-color: #eee;
    border: none;
    height: 38px;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}
.social-container i{
color: rgb(46, 42, 42,0.9);
}
.social-container i:hover{
  color: var(--bgr-color);
  }
.form-container__a{
  margin: 10px;
  font-weight: 200px;
}
.container__a1{
margin: 25px 0 18px 0;
}
.social{
  border: 1px solid #DDDDDD;
  color:rgb(0, 0, 0);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  height: 40px;
  width: 40px;
}
.form-container__button{
 margin: 15px;
 border-radius: 20px;
 outline: none;
 cursor: pointer;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.overlay-container{
  color: white;
  position: absolute;
  overflow: hidden;
  height: 100%;
  top: 0;
  background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);

}
.overlay{
  display: flex;

}
.overlay-panel{
  width: 50%;
  margin: 0 45px;

}
.auth-form__container.right-panel-active .overlay-left {
  transform: translateX(-20%);
}
.overlay-left{
  z-index: 1;
  transform: translateX(0%);
}
.overlay-right{
  z-index: 0;
  right: 0;
    transform: translateX(0);
  z-index: ;
}
.overlay-container__h1{
  margin-top: 160px;
}
.overlay-container__text{
  font-size: 1.3rem;
  margin-top: 30px;
}
.overlay-container__button-ghost{
  background-color: transparent;
  border-color: white;
}