/* Nội dung Thanh Tiêu Đề */

a:link {
    text-decoration: none;
    transition: opacity 0.2s;
  }
  a:visited {
    color: rgb(245, 239, 239);
    text-decoration: none;
  }
  a:hover {
    color: rgb(229, 115, 115);
    text-decoration: none;
  }
  
  boby {
    
  }
  *{
    font-size: 1.6rem;
  }
  /* @media screen and (min-width: 320px) and (max-width: 2000px) { */
  
  .header{
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 60px;
    line-height: 60px;
    background-color:rgb(0, 0, 0);
  }
  .header__navbar{
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  
  .header__navbar-list{
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  
  .header__navbar-item{
    text-transform: uppercase;
    display: inline-block;
    float: left;
  }
  
  
  .header__navbar-item-link{
    display: block;
    width: 100%;
    padding: 0 12px;
  }
  .header__navbar-item-link:link{
  color: rgba(255, 255, 255, 0.7);
  }
  .header__navbar-item-link:hover{
    color: rgba(255, 255, 255,1);
    background-color: var(--bgr-color);
  }
  
  .header__navbar-item-link-bgrtrangchu{
    background-color: var(--bgr-color);
  }
  
  .header__navbar-item-link-color{
    color: white;
  }
  .header__navbar-item-link-color:link{
    color: rgb(255, 255, 255);
  }
  
  .header__navbar-item1-1a{
    position: absolute;
    overflow: hidden;
    background-color: rgba(255, 255, 255);
    transition: 0.3s ease;
    width: 40%;
    height: 300px;
    border: 1px solid rgb(65, 63, 63,0.1);
    display: none;
  }
  
  .header__navbar-item:hover .header__navbar-item1-1a{
    display: flex;
    justify-content: space-between;
  }
  .header__navbar-item1-1b{{
    
  }
  
  .header__navbar-item1-1b{
    position: absolute;
    overflow: hidden;
    background-color: rgb(179, 125, 125);
    height: 0;
    
    transition: 0.3s ease;
    height: 300px;
  }
  .header__navbar-item:hover .header__navbar-item1-1b{
    left:0;
    width:100%;
  }
  .header__navbar-item:hover .header__navbar-item1-1c{
    width:;
  }
  .header__navbar-item:hover .header__navbar-item1-1d{
    width:100%;
    height: 300px;
  }
  .header__navbar-item:hover .header__navbar-item1-1e{
    width:;
  }
  .header__navbar-item:hover .header__navbar-item1-1f{
    width:;
  }
  .header__navbar-item:hover .header__navbar-item1-1g{
    width:;
  }
  .header__navbar-item1-list{
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .header__navbar-item1-itemchild{
    border-bottom: 1px solid rgb(65, 63, 63,0.2);
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
  }
  .header__navbar-item1-link{
    display: block;
  }
  .header__navbar-item1-link font {
    font-size: 1.4rem;
    color: black;
  }
  .header__navbar-item1-link:hover font{
    color: var(--bgr-color);
  }
  
  
  
  
  .logo {
    height: 300px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 2px solid rgb(211, 211, 211);
  }
  
  .lienhe {
    position: fixed;
    top: 100px;
    right: 0px;
    min-width: 90px;
  }
  .lienhe_1 {
    background-color: rgba(80, 73, 73, 0.8);
    padding: 10px;
    color: white;
    text-align: center;
  }
  
  .lienhe_1:hover {
    color: rgb(229, 115, 115);
  }
  
  .grid__phanthan{
    display: table;
    border-bottom: 2px solid rgb(211, 211, 211);
  }
  
  .grid__phanthan-list{
   list-style: none;
   margin: 15px 0;
   padding: 0;
   
  }
  .container{
  }
  
  .grid__phanthan-list-item{
    /* padding-right: 10px;
    padding-bottom:10px; */
    position: relative;
    display: block;
    padding: 5px;
    width: 24.9999%;
    float: left;
    
  }
  
  @media only screen and (min-width: 600px) and (max-width: 960px){
    .grid__phanthan-list-item{
      width:49.999%;
      padding: 0 5px;
    }
  }
  @media only screen and (min-width: 500px) and (max-width: 760px){
    .grid__phanthan-list-item{
      width:100%;
    }
  }
  
  
  .grid__phanthan-list-item img{
    width: 100%;
    height: auto;
  }
  
  h4 { 
    text-transform: uppercase;
    font-family: "Helvetica Neue";
    border-radius: 50px;
    margin: auto;
    padding: 15px;
    background-color: rgba(68, 59, 59, 0.6);
    position: absolute;
    text-align: center;
    min-width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* Phần thân trang */
  
  h2 {
  }
  
  .phanthantrangchinh {
    text-align: center;
    overflow: hidden;
  }
  
  @media only screen and (min-width: 600px) and (max-width: 960px){
    .phanthantrai{
      width:100%;
    }
  }
  
  .phanthantrai {
    box-sizing: border-box;
    overflow: visible;
    padding-right: 30px;
    width: 70%;
    float: left;
    border-bottom: 2px solid rgb(82, 78, 78, 0.4);
  }
  
  .phanthantrangchinh1
  
  .clearfix{
    clear: both;
  }
  
  .thanh2 {
    border-bottom: 2px solid rgb(82, 78, 78, 0.4);
  }
  
  .btn {
    text-decoration: none;
    background-color: transparent;
    margin-bottom: 10px;
    border: none;
    border-radius: 50px;
    outline: none;
    color: white;
    padding: 10px 30px;
    cursor: pointer;
    transition: opacity 0.2s;
  }
  .btn:hover {
    opacity: 0.7;
  }
  
  .btn--xemthem {
    background-color: rgb(229, 115, 115);
  }
  
  .phanthanphai {
    border-bottom: 2px solid rgb(82, 78, 78, 0.4);
    width: 30%;
    float: left;
  }
  
  .baivietganday > ul {
    list-style: none;
    margin: 0 auto;
    padding: 0px;
    display: table;
  }
  .chung {
    width: 50%;
    padding: 10px;
    display: table-cell;
  }
  .chung > img {
  }
  
  .chung1 {
    padding: 5px;
    text-align: center;
  }
  
  .giulienlac {
    color: black;
    padding: 5px 10px 30px 10px;
  }
  
  .ab--1 {
    padding: 0 10px;
    font-size: 20px;
    color: black;
  }
  .ab--1:hover {
    color: rgb(229, 115, 115, 0.8);
  }
  
  .dangki > p {
    margin: 0 auto;
    padding: 5px;
  }
  
  input[type="text"] {
    height: 35px;
    line-height: 10px;
    width: 90%;
    padding-left: 15px;
    border: 1px solid rgb(90, 77, 77, 0.5);
  }
  
  input[type="submit"] {
    height: 35px;
    line-height: 10px;
    width: 95%;
    border: none;
    padding: 10px 0;
    outline: none;
    cursor: pointer;
    background-color: rgb(245, 245, 245, 0.8);
    font-family: Crimson Text;
  }
  input[type="submit"]:hover {
    background-color: rgb(229, 115, 115);
    color: white;
  }
  
  h3 {
    background-color: black;
    color: white;
    padding: 10px;
  }
  
  
  .thanh3 {
    box-sizing: border-box;
    overflow: visible;
    padding-right: 10px;
    width: 50%;
    float: left;
    border-bottom: 1px solid rgb(82, 78, 78, 0.4);
  }
  .thanh4 {
    box-sizing: border-box;
    padding-left: 10px;
    width: 50%;
    float: right;
    border-bottom: 1px solid rgb(82, 78, 78, 0.4);
  }
  
  .thanh5 {
    box-sizing: border-box;
    overflow: visible;
    width: 100%;
    float: left;
    clear: left;
  }
  .chuyentrang {
    margin: 20px auto;
  }
  
  .chuyentrang_1 {
    display: inline-block;
  }
  .chuyentrang_1 a {
    border: 0.2px solid rgb(83, 79, 79, 0.2);
    padding: 5px 15px;
    color: black;
  }
  
  .chuyentrang_1 a:hover {
    background-color: var(--bgr-color);
    color: white;
  }
  .chuyentrang_1_item {
    background-color: var(--color);
  }
  
  .footer {
    bottom: 0;
    background-color: rgb(43, 38, 38, 0.5);
  }
  
  .footer_first {
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  .footer_first ul {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .footer_first ul > li {
    width: 190px;
    height: 194px;
  }
  .footer_first_img {
    width: 100%;
    object-fit: contain;
  }
  
  .footer_first li > a {
  }
  
  .footer_second {
    text-align: center;
    margin: 0;
    padding-bottom: 50px;
    color: white;
  }
  .footer_second_item {
    margin: 30px 120px 50px 120px;
  }
  .footer_second_item ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 80 0 0 0;
    padding: 0;
  }
  .footer_second_item ul li {
    padding: 0 30px;
  }
  